<%- include ("../layouts/header") %>

<div class="content">
    <div class="container">
        <div class="page-title">
            <h3>Add Blog</h3>
        </div>

        <div class="box box-primary">
            <div class="box-body">
                <form style="display: contents;" onsubmit="doSave()" id="form-add">
                    <div class="row" style="margin-top: 50px;">
                        <div class="offset-md-2 col-md-8">
                            <div class="form-group">
                                <label class="form-label">Title</label>
                                <input type="text" name="title" class="form-control" onkeyup="onkeyupTitle()" required />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Slug</label>
                                <input type="text" name="slug" class="form-control" />
                            </div>

                            <div class="form-group">
                                <label class="form-label">Excerpt</label>
                                <textarea name="excerpt" id="excerpt" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Content</label>
                                <textarea name="content" id="content" class="form-control"></textarea>
                            </div>

                            <div class="form-group">
                                <label class="form-label">Status</label>
                                <select name="status" class="form-control" required>
                                    <option value="draft">Draft</option>
                                    <option value="published">Publish</option>
                                </select>
                            </div>

                            <input type="submit" name="submit" class="btn btn-primary" value="Add Blog" />
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

    function onkeyupTitle() {
        const form = document.getElementById("form-add")
        const title = form.title.value
        let slug = title.split(" ").join("-").toLowerCase()
        form.slug.value = slug
    }

    async function doSave() {
        event.preventDefault()
        
        const form = event.target
        const formData = new FormData(form)
        formData.append("accessToken", localStorage.getItem("adminAccessToken"))
        
        document.getElementById("loader").style.display = ""
        try {
            const response = await axios.post(
                "/admin/blogs/add",
                formData
            )
            
            if (response.data.status == "success") {
                swal("Success", response.data.message, response.data.status)
                    .then(function () {
                        window.location.href = "/admin/blogs/edit/" + response.data.id
                    })
            } else {
                swal("Error", response.data.message, response.data.status)
            }
        } catch (error) {
            if (error?.response?.status == 401) {
                swal("Error", error.response.data.message || "Unauthorized", "error")
            }
        } finally {
            document.getElementById("loader").style.display = "none"
        }
    }

    window.addEventListener("load", function () {
        document.getElementById("loader").style.display = "none"
        $("#content").richText()
        $("#excerpt").richText()
    })
</script>

<%- include ("../layouts/footer") %>